<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers</title>
</head>
<body>
    <label>Name your burger!</label>
    <input type="text" id="burger">
    <button id="sbmt">Submit!</button>
    {{{body}}}

    <script src="./assets/js/app.js">
    
</script>
</body>
</html>