<h1>Burgers!</h1>

<div class="burgers">
    {{#each burgers}}
        <h3>{{this.dataValues.burgerName}}</h3>
        <button id="devour" data-uid="{{this.dataValues.id}}">DEVOUR</button>
        <hr>
    {{/each}}

</div>