<h1>Burgers!</h1>

<div class="burgers">
    {{#each unburgers}}
        <h3 style="align-left" id="burger">{{unburgers}}</h3>
        <button id="devour">DEVOUR</button>
        <hr>
    {{/each}}

</div>